/* footer start */
footer {
  position: relative;
  background-color: #f1f1f1;
  width: 100%;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  color: black;
  z-index: 999;
}
.footer-icons {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 40px;
}
.footer-icons a {
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  text-decoration: none;
  cursor: pointer;
}

.footer-icons a:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.copyright {
  background-color: rgba(0, 0, 0, 0.2);
}
.copyright p {
  text-align: center;
  padding: 5px;
}
@media (max-width: 780px) {
  .footer-icons {
    width: 50%;
    padding: 20px;
  }
  .copyright p {
    font-size: 12px;
  }
}
/* footer ends */
